@model SacramentMeeting.Models.SacramentPlan

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>SacramentPlan</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConductingLeader" class="control-label"></label>
                <input asp-for="ConductingLeader" class="form-control" />
                <span asp-validation-for="ConductingLeader" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OpenningHymn" class="control-label"></label>
                <input asp-for="OpenningHymn" class="form-control" />
                <span asp-validation-for="OpenningHymn" class="text-danger"></span>
            </div>
            <div id="speakerForm">

            </div>
            <button type="button" id="add-speaker-btn" class=" btn btn-secondary form-control">+ Add Speaker</button>
            <div class="form-group">
                <label asp-for="ClosingHymn" class="control-label"></label>
                <input asp-for="ClosingHymn" class="form-control" />
                <span asp-validation-for="ClosingHymn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SacramentHymn" class="control-label"></label>
                <input asp-for="SacramentHymn" class="form-control" />
                <span asp-validation-for="SacramentHymn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MusicNumber" class="control-label"></label>
                <input asp-for="MusicNumber" class="form-control" />
                <span asp-validation-for="MusicNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OpenningPrayer" class="control-label"></label>
                <input asp-for="OpenningPrayer" class="form-control" />
                <span asp-validation-for="OpenningPrayer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClosingPrayer" class="control-label"></label>
                <input asp-for="ClosingPrayer" class="form-control" />
                <span asp-validation-for="ClosingPrayer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpeakerSubject" class="control-label"></label>
                <input asp-for="SpeakerSubject" class="form-control" />
                <span asp-validation-for="SpeakerSubject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        const speakerFormItem = `
        <div class="form-group border border-secondary padding">
            <h4>Speaker</h4>
            <label class="control-label" for="speakerName">Name</label>
            <input type="text" name="speakerName" class="form-control"/>
            <label class="control-label" for="topic">Topic</label>
            <input type="text" name="topic" class="form-control"/>
        </div>
        `

        document.querySelector('#add-speaker-btn').addEventListener('click', (e) => {
            e.preventDefault();
            document.querySelector('#speakerForm').innerHTML += speakerFormItem;
        })
    </script>
}
