@model SacramentMeeting.Models.SacramentPlan

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Sacrament Plan</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SacramentPlanId" />
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" required/>
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BishopricMember" class="control-label"></label>
                <select asp-for="BishopricMemberId" class="form-control" asp-items="ViewBag.BishopricMemberId" require>
                    <option value="null">Please Select</option>
                </select>
            </div>

            <div class="form-group">
                <label asp-for="OpeningHymn" class="control-label"></label>
                <select asp-for="OpeningHymnId" class="form-control" asp-items="ViewBag.HymnId" required>
                    <option value="null">Please Select</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="OpeningPrayer" class="control-label"></label>
                <input asp-for="OpeningPrayer" class="form-control" required/>
                <span asp-validation-for="OpeningPrayer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SacramentHymn" class="control-label"></label>
                <select asp-for="SacramentHymnId" class="form-control" asp-items="ViewBag.HymnId" required>
                    <option value="null">Please Select</option>
                </select>
            </div>
            <label for="speakerForm" class="control-label">Speakers</label>
            <div id="speakerForm">
                @foreach (var item in Model.Speakers)
                {
                    <div class="form-group border border-secondary padding">
                        <label class="control-label" for="SpeakerName">Name</label>
                        <input type="text" name="speakerName" class="form-control" value="@item.Name" />
                        <label class="control-label" for="Topic">Topic</label>
                        <input type="text" name="topic" class="form-control" value="@item.Topic" />
                        <p class="delete delete-speaker">Delete Speaker</p>
                    </div>
                }
            </div>

            <button type="button" id="add-speaker-btn" class=" btn btn-secondary form-control mb-2">+ Add
                Speaker</button>
            <div class="form-group">
                <label asp-for="IntermediateHymn" class="control-label"></label>
                <select asp-for="IntermediateHymnId" class="form-control" asp-items="ViewBag.HymnId">
                    <option value="null">Please Select</option>
                </select>
                <span asp-validation-for="IntermediateHymn" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ClosingHymn" class="control-label"></label>
                <select asp-for="ClosingHymnId" class="form-control" asp-items="ViewBag.HymnId" required>
                    <option value="null">Please Select</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="ClosingPrayer" class="control-label"></label>
                <input asp-for="ClosingPrayer" class="form-control" required/>
                <span asp-validation-for="ClosingPrayer" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
    const speakerFormItem = `
        <div class="form-group border border-secondary padding">
            <label class="control-label" for="SpeakerName">Name</label>
            <input type="text" name="speakerName" class="form-control"/>
            <label class="control-label" for="Topic">Topic</label>
            <input type="text" name="topic" class="form-control"/>
            <p class="delete delete-speaker">Delete Speaker</p>
        </div>
        `

    document.querySelector('#add-speaker-btn').addEventListener('click', (e) => {
        e.preventDefault();
        const speakerForm = document.querySelector('#speakerForm')
        let values = [];
        document.querySelectorAll('#speakerForm input').forEach(input => {
            let value = input.value;
            values.push(value)
        })
        speakerForm.innerHTML += speakerFormItem;

        document.querySelectorAll('#speakerForm input').forEach((input, index) => {
            let length = document.querySelectorAll('#speakerForm input').length
            if (values[index]) {
                input.value = values[index]
            } else {
                input.value = '';
            }
        })
        addDeleteListeners();
    })

    //delete speaker
    function addDeleteListeners() {
        Array.from(document.getElementsByClassName('delete-speaker')).forEach(element => {
            element.addEventListener('click', deleteSpeaker)
        })
    }

    function deleteSpeaker(element) {
        console.log('deleting')
        element.target.parentNode.remove();
    }

    addDeleteListeners();
</script>
}
