@model IEnumerable<SacramentMeeting.Models.SacramentPlan>

@{
    ViewData["Title"] = "Sacrament Meeting Plans";
}

<h1>Sacrament Meeting Plans</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Programs
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            
                <tr>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.SacramentPlanId">
                        @Html.DisplayFor(modelItem => item.Date)
                        </a>
                    </td>
           
                </tr>
        }
    </tbody>
</table>
