/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
@import url('https://fonts.googleapis.com/css2?family=Donegal+One&family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Schoolbell&family=Zen+Antique+Soft&display=swap');

h1, h2, h3 {
  font-family: "Zen Antique Soft", Garamond, serif;
}
h1 {
  padding-top: 20px;
  color: #003168;
}

.btn-primary {
  background-color: #003168 !important;
}

a.plan-link{
  color: #003168;
}

body {
  font-family: "Lato", Arial, Helvetica, sans-serif;
}

.landing-heading{
  text-shadow:2px 2px 4px rgba(0, 0, 0, .05);
  color: #003168;
  padding-top: 20px;
}

nav.navbar {
  background-color: #003168;
}

nav.navbar * {
  color: white;
}

.home {
  background-image: url('../images/church_building_whittaker.jpeg');
  height: 90vh;
  background-position: bottom 0 right 50%; 
  background-repeat: no-repeat;
  background-size: contain;
}

.no-padding{
  padding-right: 0;
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.padding {
  padding: 1em;
}

.delete {
  color: red;
}

.delete:hover {
  cursor: pointer;
}

.program-container {
  max-width: 750px;
  padding: 10px;
  font-size: 1.2em;
  margin: 0 auto;
}
.program-row {
  display: flex;
  line-height: 2em;
  flex: 1;
}

.program-row .left{
  order: 1;
}

.program-row .right {
  order: 3;
  font-weight: normal;
}

.program-row::after {
  content: "";
  margin: 0 4px;
  background: radial-gradient(circle at 50% 50%, black 12%, transparent 15%);
  background-size: 1em 1em;
  background-position: 0 0.5em;
  background-repeat: repeat-x;
  flex-grow: 1;
  order: 2;
}

.program-center, .hymn-name{
  text-align: center;
}

.hymn-name {
  font-style: italic;
  font-size: 1em;
}

.hymn-name::before {
  content: "\"";

}

.hymn-name::after {
  content: "\"";
}

.speaker-name {
  font-weight: normal;
  font-style: italic;
  padding-left: 30px;
}

.speaker-topic{
  padding-right: 30px;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
